<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd 
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
				http://www.springframework.org/schema/aop 
				http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
				http://www.springframework.org/schema/context  
				http://www.springframework.org/schema/context/spring-context-3.0.xsd
				">

	<!-- A configuração abaixo(placeholder) funciona, basta REALMENTE termos um arquivo na 
		pasta c:/temp e as propriedades lá definidas. Quanto ao uso basta fazer como 
		abaixo:
		 <property name="driverClass" value="${driver.class}" /> -->

<!-- 	<bean id="clientPropertyConfigurer" -->
<!-- 		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!-- 		<property name="location" value="file:${CATALINA_HOME}/conf/Catalina/localhost/m2mfrotaweb.properties" /> -->
<!-- 	</bean> -->

	<context:annotation-config />
	<context:component-scan base-package="br.com.mr.baseapp" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/path_finder" />
		<property name="user" value="postgres" />
		<property name="password" value="robson78" />  
		<property name="acquireIncrement" value="10" />
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="80" />
		<property name="maxIdleTime" value="200" />
	</bean>

	<tx:annotation-driven />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- <bean id="greetingService" class="com.gis.server.GreetingServiceImpl"/> -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" scope="singleton">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="br.com.mr.baseapp" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisDialect</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.transaction.flush_before_completion">true</prop>
			</props>
		</property>
	</bean>
</beans>

<!-- Para o caso de querer usar o dataSource do c3p0 -->
<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" -->
<!-- destroy-method="close" scope="singleton"> -->
<!-- <property name="driverClass" value="org.postgresql.Driver" /> -->
<!-- <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/pathfinder" 
	/> -->
<!-- <property name="user" value="postgres" /> -->
<!-- <property name="password" value="masterkey" /> -->
<!-- </bean> -->
